<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    {{> styles}}
   
  </head>
  <body>
   <tbody>
        <tr style="width:100%">
            {{!-- <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="text-align:center"> --}}
              <tbody>
                {{{body}}}
              </tbody>
            {{!-- </table> --}}
          
          </td>
        </tr>
      </tbody>
      
       
    <p style="font-size:16px;line-height:26px;margin:16px 0">Best regard,<br />HoNai Furniture</p>
            
   <hr style="width:100%;border:none;border-top:1px solid #eaeaea;border-color:#cccccc;margin:20px 0" />
    <p style="font-size:12px;line-height:24px;margin:16px 0;color:#8898aa">56/8, Điểu Xiển, Khu Phố 8, Phường Long Bình, Biên Hoà, Đồng Nai</p>
  </body>
</html>