<h2 class='login-h2'>Hi {{firstName}} </h2>
<p class='login-p'>Welcome to HonaiFurniture </p>
<p class='login-p'>
  Thank you for being a member of the company. Wishing you good health and
  prosperity in your upcoming work.</p>
<p class='login-p'>Your Email: {{email}} </p>
<p class='login-p'>Your Password: {{password}} </p>
<a href={{href}} class='login-a'>Please log in to the system and change your
  password</a>

{{! <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="text-align:center"></table> }}